/*-------------div's-------------*/
.top {
    background-color: #beebe9;
    position: relative;
    padding-top: 100px;
    top: 0px;
}

.middle-container {
    background-color: #fff1f6;
    height: auto;
    width: auto;
}

.bottom-container {
    background-color: #8ac6d1;
    height: auto;
    width: auto;
    padding: 50px 0 20px;
}

.container {
    height: 450px;
    width: 1000px;
    position: relative;
    margin: 0 auto 0 auto;
}

/*-------------Text-------------*/
body {
    margin: 0px;
    text-align: center;
    font-family: sans-serif;
    color: #40514E;
}

h1 {
    margin: 0 0 1.25rem 0;
    font-size: 4.5rem;
    font-family: 'Pacifico', cursive;
    color: #66BFBF;
    line-height: 2;
}

.pro {
    text-decoration: underline;
}

h2 {
    font-size: 1.5rem;
    font-family: 'Rammetto One', cursive;
    font-weight: normal;
    margin: 0 auto 0 auto;
    color: rgb(61, 146, 146);
}
h3 {
    font-size: 2.5rem;
    font-family: 'Rammetto One', cursive;
    margin: 0.625rem auto 1rem auto;
    padding-bottom: 10px;
}

h4 {
    font-size: 25px;
    font-family: 'Rammetto One', cursive;
    margin: 0px auto 1.25rem auto;
}

p {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    line-height: 2;
}

.skill-row {
    width: 50%;
    text-align: left;
    margin: 80px auto 100px auto;
}
.intro {
    width: 30%;
    margin: 0 auto 10px auto;
}
hr {
    border: dotted #beebe9d0 8px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto 100px auto;
}
.contact-message {
    width: 30%;
    margin: 40px auto 0 auto;
}
.contact-me {
    padding-top: 80px;
}
.footer-link {
    color: #11999E;
    font-size: 1.2rem;
}
.copywright {
    color: #fff1f6;
    font-size: 1rem;
    padding: 20px 0;
}
.hr-bottom {
    border: dotted #beebe9d0 8px;
    border-bottom: none;
    width: 4%;
    margin: 0px auto 100px auto;
    
}
/*-------------images-------------*/
.mountain {
    display: block;
    position: absolute;
    left: 150px;
    bottom: 20px;
}
.cloudtop {
    height: 500px;
    width: auto;
    position: absolute;
    top: -80px;
    right: 0px;
}
.cloudbottom {
    height: 400px;
    width: auto;
    position: absolute;
   left: 0px;
   top: -100px;
}
.web {
    width: 25%;
    float: left;
    margin-right: 30px;
    border-radius: 22%;
}
.profileimage {
   margin-top: 100px;
   height: 200px;
   width: auto;
   border-radius: 50%;
}
.soccer {
    width: 25%;
    float: right;
    margin-left: 20px;
}


.btn {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #6bd8ff 5%, #258594 100%);
	background-color:#6bd8ff;
	border-radius:12px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:15px 32px;
	text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    margin: 50px auto 100px auto;
}
.myButton:hover {
	background:linear-gradient(to bottom, #258594 5%, #6bd8ff 100%);
	background-color:#258594;
}
.myButton:active {
	position:relative;
	top:1px;
}